body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;

}
body {
    padding-bottom: 100px;
}

#selectCountry {
    font-size: 30px;
    width: 85%;
    margin: 0 auto;

}

#selectCountry > select {
    font-size: 20px;
    border: 0 solid transparent;
    font-family: 'Quicksand', sans-serif;
    color: #EB5757;
    padding: 5px 10px;
    outline: none;
    background: none;

}

#lines {
    font-size: 28px;
    line-height: 45px;
    color: #444;
    text-align: center;
    margin: 0 0 20px;
}
#logo {
    text-align: center;
    margin: 20px auto;
}

.box {
    min-width: 200px;
    min-height: 200px;
    width: 17vw;
    /* height: 17vw; */
    display: inline-block;
    background-size: cover;
    margin: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border: 0;
    overflow: hidden;
    background: #fff;

}

.boxContainer {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    flex-flow: row wrap;
    align-content: space-between;
}

.boxImg {
    width: 100%;
    filter: brightness(50%);
    margin-top: -50%;
}

.boxImgBox {

    position: relative;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}
.boxTitle {
    font-size: 30px;
    line-height: 50px;
}
.boxButton {
    transition: transform 0.2s;
    margin: 0 auto;
    box-sizing: border-box;
}

.boxTitleButton {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translate(0,-50%);
}

.boxWeather {

    position: absolute;
    top: 10px;
    right: 10px;

}
.UserTag {
    position: absolute;
    top: 20px;
    left: 15px;
    padding: 4px 8px;
    border-radius: 3px;
    color: #fff;
    -ms-transform: rotate(-25deg);
    /* IE 9 */
    -webkit-transform: rotate(-25deg);
    /* Safari 3-8 */
    transform: rotate(-25deg);
}
.yeah {
    background: #27AE60;
}
.maybe {
    background: #F2C94C;
    background: linear-gradient(orange, yellow);
}

.naah {
    background: #EB5757;
}
.boxWeatherMonth {
    font-size: 14px;
    vertical-align: top;
    line-height: 22px;
    color: #fff;
}
.boxtags {
    padding: 8px;
}
.boxTag {
    margin: 5px;
    display: inline-block;
    color: #EE4D61;
    border: 1px solid #EE4D61;
    font-size: 14px;
    line-height: 22px;
    border-radius: 10px;
    padding: 0 10px;
    text-align: center;
}

.overlay {
    position: fixed;
    width: 100%;
    display: none;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    text-align: center;
    overscroll-behavior: contain;
}

.storyScreen {
    display: none;
    text-align: center;
    position: fixed;
    background: #fff;
    overflow: hidden;
    width: 20%;
    min-width: 300px;
    height: 70%;
    margin: 0 auto;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%,-50%);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: cover;

}

.storyClose {
    position: fixed;
    top: 10px;
    left: 7px;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    padding: 5px 8px;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    cursor: pointer;
    z-index: 9;
}

.storyBars {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

.storyBar {

    height: 2px;
    background: #ccc;
    border-radius: 5px;
    background: linear-gradient(to right, #fff 50%, #34495e 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.storyBarFill {
    background-position: left bottom;
    transition: all 2s ease-out;
}
.storyBarFillAlready {
    background: #fff;
    transition: none;

}
.storyBarEmptyAlready {
    background: #34495e;
    transition: none;

}

.storyDesc {
    position: fixed;
    bottom: 50px;
    width: 100%;
    padding: 10px;
    color: #fff;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);

}

.storySkip {
    width: 50%;
    height: 90%;
    position: fixed;
    box-sizing: border-box;

    bottom: 0;
}
#storyGoBack {
    left: 0;
    /* border:1px solid red; */
}

#storyGoForward {

    right: 0;
    /* border:1px solid blue; */

}

.storyMetaContainer {
    position: fixed;
    left: 0;
    display: none;
    top: 0;
    width: 100%;
    bottom: 0;
    overflow: scroll;
    transition: all 3s ease-out;
}
.storyMetaContainer::-webkit-scrollbar {
    display: none;
}

.storyMeta {

    /* display: none; */
    z-index: 5;
    /* margin-top: 200px; */
    transition: all 0.3s ease-out;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    /* position: fixed; */
    /* overflow: scroll; */
    bottom: 0;
    padding-bottom: 70px;
    width: 100%;
    margin-top: 150%;
    overflow: hidden;

}
.storyMetaShow {
    margin-top: 50%;
}

.metaButton {
    width: 100px;
    height: 4px;
    border-radius: 3px;
    background: #666;
    display: inline-block;
    margin: 10px 0;

}
#metaDesc {
    font-size: 14px;
    line-height: 15px;
    text-align: left;
    color: #444;
    margin: 10px 0;
}
.currentWeather {
    font-size: 12px;
    line-height: 18px;
}
table {
    width: 100%;
}
#bestTimeVisit {
    font-size: 17px;
    line-height: 24px;
    vertical-align: top;
    color: #EB5757;
    font-weight: bold;
}

.metaTagTitle {
    font-size: 12px;
    text-align: left;
    line-height: 20px;
}
.metaTags {
    text-align: left;
    margin-bottom: 15px;
}
.metaTag {
    text-align: center;
    display: inline-block;
    padding: 0 8px;
    font-size: 14px;
    color: #EB5757;
    border: 1px solid #EB5757;
    border-radius: 20px;
    margin: 5px;
}
.metaCostFoodInfo {
    font-size: 14px;
    color: #444;
    margin-bottom: 17px;

}
.metaCosts {
    text-align: left;
}

.askUserButtsContainer {
    text-align: left;
    font-size: 17px;
    color: #444;
    line-height: 25px;
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px 15px;
    -webkit-box-shadow: 0 -4px 3px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 -4px 3px rgba(255, 255, 255, 0.75);
    box-shadow: 0 -4px 3px rgba(255, 255, 255, 0.75);
}

.askUserButts {

    display: flex;
    justify-content: space-around;
    padding-top: 5px;

}

.askUserButt {
    cursor: pointer;
    width: 28%;
    text-align: center;
    border-radius: 20px;
    font-size: 17px;
    padding: 7px 0;
    /* background: red; */
    color: #fff;
}

.askUserButt1 {
    background: #27AE60;
}
.askUserButt2 {
    background: #F2C94C;
}
.askUserButt3 {
    background: #EB5757;
}

.rolling {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%,-50%);
}
