@media only screen and (max-width: 600px) {
    #lines{
        font-size: 18px;
        line-height: 22px;
    }

    #selectCountry{
    font-size: 20px;
    width: 95%;
    margin:  0 auto;
    }

    #selectCountry > select{
    font-size: 15px;
    
    }
    .boxContainer {
    display: flex;
    justify-content: left;
    width: 100%;
    overflow: scroll;
    margin: 0 auto;
    flex-flow: unset;
    align-content: space-between;
    }

    .box{
   
    width: 22vw;
    min-width: 250px;

    

    }


    .storyScreen{
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    transform:unset;
    border-radius:0px;
    
    }
}